node_modules/
dist/
.next/
.env
.env.local
*.log
pgdata/
pg16/
pg_hba.conf
pg_ident.conf
PG_VERSION
postgresql.auto.conf
postgresql.conf
postmaster.opts
postmaster.pid
*.exe
*.dat
*.txt
commandlinetools_*
pgAdmin_*
StackBuilder_*
uninstall-postgresql.*
server_license.*
tsconfig.tsbuildinfo
